<header class="bg-blue-500 fixed z-20 inset-0 py-5 h-fit text-white px-10">
  <div class="flex items-center justify-between gap-5">
    <a routerLink="/admin/dashboard" class="text-xl capitalize">Phần mềm quản lí dự án</a>
    <ul class="flex items-center gap-5">
      <li class="text-lg"><a routerLink="/admin/dashboard">Bảng điều khiển</a></li>
      <li><a routerLink="/admin/teams" class="text-lg">Teams</a></li>
      @if (profileData.role === 'admin') {
      <li class="text-lg"><a routerLink="/admin/project">Dự án</a></li>
      } @else {
      <li class="text-lg"><a routerLink="/admin/tasks">Nhiệm vụ</a></li>
      }
    </ul>
    <!-- <app-search /> -->
    <div class="cursor-pointer hover:underline" (click)="handleLogout()">Đăng xuất</div>
  </div>
</header>