<header class="bg-blue-500 fixed inset-0 py-5 h-fit text-white px-10">
  <div class="flex items-center justify-between gap-5">
    <a routerLink="/admin/dashboard" class="text-xl capitalize">Phần mềm quản lí dự án</a>
    <ul class="flex items-center gap-5">
      <li class="text-lg"><a routerLink="/admin/dashboard">Bảng điều khiển</a></li>
      <li class="text-lg"><a routerLink="/admin/project">Dự án</a></li>
      <li><a routerLink="/admin/teams">Teams</a></li>
    </ul>
    <app-search />
  </div>
</header>