<div class="mt-10 mx-10 ">
  <div class=" mx-auto bg-white p-6 rounded-lg shadow-md">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-semibold text-gray-800">Quản lý dự án</h2>
      <a routerLink="/create"
        class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700 transition-all">Create
        project</a>
    </div>
    <p class="text-gray-600 mb-4">Danh sách tất cả dự án trong công ty của bạn bao gồm tên dự án, ngày tạo dự án và số
      lượng thành viên của team.
    </p>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-200">
        <thead>
          <tr>
            <th
              class="px-6 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
              Project ID</th>
            <th
              class="px-6 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
              Project Name</th>
            <th
              class="px-6 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
              Description</th>
            <th
              class="px-6 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
              Date of start</th>
            <th
              class="px-6 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
              Team size</th>
            <th
              class="px-6 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="px-6 py-4 border-b border-gray-200">Lindsay Walton</td>
            <td class="px-6 py-4 border-b border-gray-200">Front-end Developer</td>
            <td class="px-6 py-4 border-b border-gray-200">
              <textarea name="description"
                class="resize-none outline-none border border-gray-300 w-[250px] h-20">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab cum maxime corrupti quis reiciendis mollitia nulla facere similique odit in, quidem consectetur sed, ut amet, dignissimos nam temporibus. Eius, dolorum!</textarea>
            </td>
            <td class="px-6 py-4 border-b border-gray-200">lindsay.walton.example.com</td>
            <td class="px-6 py-4 border-b border-gray-200">Member</td>
            <td class="px-6 py-4 border-b border-gray-200 space-y-1">
              <a routerLink=""
                class="w-10 h-10 bg-yellow-500 hover:bg-opacity-70 transition-all rounded-md text-white flex justify-center items-center"
                title="Edit">
                <i class="fa-regular fa-pen-to-square"></i>
              </a>
              <a routerLink=""
                class="w-10 h-10 bg-red-500 hover:bg-opacity-70 transition-all rounded-md text-white flex justify-center items-center">
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="px-6 py-4 border-b border-gray-200">Lindsay Walton</td>
            <td class="px-6 py-4 border-b border-gray-200">Front-end Developer</td>
            <td class="px-6 py-4 border-b border-gray-200">
              <textarea name="description"
                class="resize-none outline-none border border-gray-300 w-[250px] h-20">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab cum maxime corrupti quis reiciendis mollitia nulla facere similique odit in, quidem consectetur sed, ut amet, dignissimos nam temporibus. Eius, dolorum!</textarea>
            </td>
            <td class="px-6 py-4 border-b border-gray-200">lindsay.walton.example.com</td>
            <td class="px-6 py-4 border-b border-gray-200">Member</td>
            <td class="px-6 py-4 border-b border-gray-200 space-y-1">
              <a routerLink=""
                class="w-10 h-10 bg-yellow-500 hover:bg-opacity-70 transition-all rounded-md text-white flex justify-center items-center"
                title="Edit">
                <i class="fa-regular fa-pen-to-square"></i>
              </a>
              <a routerLink=""
                class="w-10 h-10 bg-red-500 hover:bg-opacity-70 transition-all rounded-md text-white flex justify-center items-center">
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="px-6 py-4 border-b border-gray-200">Lindsay Walton</td>
            <td class="px-6 py-4 border-b border-gray-200">Front-end Developer</td>
            <td class="px-6 py-4 border-b border-gray-200">
              <textarea name="description"
                class="resize-none outline-none border border-gray-300 w-[250px] h-20">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab cum maxime corrupti quis reiciendis mollitia nulla facere similique odit in, quidem consectetur sed, ut amet, dignissimos nam temporibus. Eius, dolorum!</textarea>
            </td>
            <td class="px-6 py-4 border-b border-gray-200">lindsay.walton.example.com</td>
            <td class="px-6 py-4 border-b border-gray-200">Member</td>
            <td class="px-6 py-4 border-b border-gray-200 space-y-1">
              <a routerLink=""
                class="w-10 h-10 bg-yellow-500 hover:bg-opacity-70 transition-all rounded-md text-white flex justify-center items-center"
                title="Edit">
                <i class="fa-regular fa-pen-to-square"></i>
              </a>
              <a routerLink=""
                class="w-10 h-10 bg-red-500 hover:bg-opacity-70 transition-all rounded-md text-white flex justify-center items-center">
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="px-6 py-4 border-b border-gray-200">Lindsay Walton</td>
            <td class="px-6 py-4 border-b border-gray-200">Front-end Developer</td>
            <td class="px-6 py-4 border-b border-gray-200">
              <textarea name="description"
                class="resize-none outline-none border border-gray-300 w-[250px] h-20">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab cum maxime corrupti quis reiciendis mollitia nulla facere similique odit in, quidem consectetur sed, ut amet, dignissimos nam temporibus. Eius, dolorum!</textarea>
            </td>
            <td class="px-6 py-4 border-b border-gray-200">lindsay.walton.example.com</td>
            <td class="px-6 py-4 border-b border-gray-200">Member</td>
            <td class="px-6 py-4 border-b border-gray-200 space-y-1">
              <a routerLink=""
                class="w-10 h-10 bg-yellow-500 hover:bg-opacity-70 transition-all rounded-md text-white flex justify-center items-center"
                title="Edit">
                <i class="fa-regular fa-pen-to-square"></i>
              </a>
              <a routerLink=""
                class="w-10 h-10 bg-red-500 hover:bg-opacity-70 transition-all rounded-md text-white flex justify-center items-center">
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="px-6 py-4 border-b border-gray-200">Lindsay Walton</td>
            <td class="px-6 py-4 border-b border-gray-200">Front-end Developer</td>
            <td class="px-6 py-4 border-b border-gray-200">
              <textarea name="description"
                class="resize-none outline-none border border-gray-300 w-[250px] h-20">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab cum maxime corrupti quis reiciendis mollitia nulla facere similique odit in, quidem consectetur sed, ut amet, dignissimos nam temporibus. Eius, dolorum!</textarea>
            </td>
            <td class="px-6 py-4 border-b border-gray-200">lindsay.walton.example.com</td>
            <td class="px-6 py-4 border-b border-gray-200">Member</td>
            <td class="px-6 py-4 border-b border-gray-200 space-y-1">
              <a routerLink=""
                class="w-10 h-10 bg-yellow-500 hover:bg-opacity-70 transition-all rounded-md text-white flex justify-center items-center"
                title="Edit">
                <i class="fa-regular fa-pen-to-square"></i>
              </a>
              <a routerLink=""
                class="w-10 h-10 bg-red-500 hover:bg-opacity-70 transition-all rounded-md text-white flex justify-center items-center">
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>