<div class="px-5 mt-10">
  <div class="w-1/4 bg-white rounded-md overflow-hidden">
    <div class="text-center font-bold text-lg uppercase py-3 bg-blue-400 text-white">Trưởng nhóm</div>
    <div class="w-[150px] h-[150px] rounded-full overflow-hidden mx-auto my-2">
      <img src="https://avatars.githubusercontent.com/u/121429011?v=4" alt="">
    </div>
    <h2 class="text-center font-medium uppercase">Bùi Hoàng Anh</h2>
    <h3 class="text-center mt-5">Tóm tắt về Team</h3>
    <div class="mt-5">
      <div
        class="bg-gray-100 flex gap-5 justify-between items-center p-5 border-b border-[#dbdbdb] hover:bg-opacity-40 transition-all">
        <span>Số lượng thành viên</span>
        <span
          class="px-2 h-7 rounded-full bg-blue-400 text-white flex justify-center items-center text-sm font-semibold">47</span>
      </div>
      <div
        class="bg-gray-100 flex gap-5 justify-between items-center p-5 border-b border-[#dbdbdb] hover:bg-opacity-40 transition-all">
        <span>Tổng chi phí của tất cả dự án</span>
        <span
          class="px-2 h-7 rounded-full bg-blue-400 text-white flex justify-center items-center text-sm font-semibold">247k</span>
      </div>
      <div
        class="bg-gray-100 flex gap-5 justify-between items-center p-5 border-b border-[#dbdbdb] hover:bg-opacity-40 transition-all">
        <span>Các task đang xử lý</span>
        <span
          class="px-2 h-7 rounded-full bg-blue-400 text-white flex justify-center items-center text-sm font-semibold">15</span>
      </div>
      <div
        class="bg-gray-100 flex gap-5 justify-between items-center p-5 border-b border-[#dbdbdb] hover:bg-opacity-40 transition-all">
        <span>Dự án sắp triển khai</span>
        <span
          class="px-2 h-7 rounded-full bg-blue-400 text-white flex justify-center items-center text-sm font-semibold">20%</span>
      </div>
    </div>
    <h3 class="text-center mt-5">Khách hàng</h3>
    <div class="mt-5">
      <div
        class="bg-gray-100 flex gap-5 justify-between items-center p-5 border-b border-[#dbdbdb] hover:bg-opacity-40 transition-all">
        <span>Jonny Tran</span>
        <span
          class="px-2 h-7 rounded-full bg-blue-400 text-white flex justify-center items-center text-sm font-semibold">47</span>
      </div>
      <div
        class="bg-gray-100 flex gap-5 justify-between items-center p-5 border-b border-[#dbdbdb] hover:bg-opacity-40 transition-all">
        <span>Alexander Mcqueen</span>
        <span
          class="px-2 h-7 rounded-full bg-blue-400 text-white flex justify-center items-center text-sm font-semibold">47</span>
      </div>
      <div
        class="bg-gray-100 flex gap-5 justify-between items-center p-5 border-b border-[#dbdbdb] hover:bg-opacity-40 transition-all">
        <span>Anh coder lo</span>
        <span
          class="px-2 h-7 rounded-full bg-blue-400 text-white flex justify-center items-center text-sm font-semibold">47</span>
      </div>
    </div>
  </div>
</div>