<p-toast></p-toast>
<div class="flex items-center justify-center mt-[50px]">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-xl">
    <h2 class="text-2xl font-bold mb-6 text-center">Đăng nhập tài khoản</h2>
    <form [formGroup]="accounts" (ngSubmit)="handleLogin()">
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
        <input type="email" id="email" formControlName="email" name="email"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Enter your email">
        @if ( accounts.get('email')?.dirty && accounts.get('email')?.hasError('required')) {
        <span class="text-xs pl-2 inline-block mt-2 text-red-500">Vui lòng nhập vào địa chỉ email !</span>
        } @else if ( accounts.get('email')?.dirty && accounts.get('email')?.hasError('email')) {
        <span class="text-xs pl-2 inline-block mt-2 text-red-500">Địa chỉ email chưa đúng định dạng !</span>
        }
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
        <input type="password" id="password" formControlName="password" name="password"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Enter your password">
        @if ( accounts.get('password')?.dirty && accounts.get('password')?.hasError('required')) {
        <span class="text-xs pl-2 inline-block mt-2 text-red-500">Mật khẩu không được để trống !</span>
        }
      </div>
      <div class="flex items-center justify-between mt-5">
        <button type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Đăng
          nhập</button>
        <a routerLink="/register" class="underline text-sm text-blue-400">Tạo tài khoản !</a>
      </div>
    </form>
  </div>

</div>